In [2]:
#libraries 
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [3]:
#load the dataset
df=pd.read_csv('titanic.csv')
df

,Survived,Pclass,Sex,Age,Siblings/Spouses,Parents/Children,Fare
0,0,3,male,22.0,1,0,7.2500
1,1,1,female,38.0,1,0,71.2833
2,1,3,female,26.0,0,0,7.9250
3,1,1,female,35.0,1,0,53.1000
4,0,3,male,35.0,0,0,8.0500
...,...,...,...,...,...,...,...
882,0,2,male,27.0,0,0,13.0000
883,1,1,female,19.0,0,0,30.0000
884,0,3,female,7.0,1,2,23.4500
885,1,1,male,26.0,0,0,30.0000
886,0,3,male,32.0,0,0,7.7500

In [4]:
df.head(5)

   Survived  Pclass     Sex   Age  Siblings/Spouses  Parents/Children     Fare
0         0       3    male  22.0                 1                 0   7.2500
1         1       1  female  38.0                 1                 0  71.2833
2         1       3  female  26.0                 0                 0   7.9250
3         1       1  female  35.0                 1                 0  53.1000
4         0       3    male  35.0                 0                 0   8.0500

In [5]:
df.tail(5)

     Survived  Pclass     Sex   Age  Siblings/Spouses  Parents/Children   Fare
882         0       2    male  27.0                 0                 0  13.00
883         1       1  female  19.0                 0                 0  30.00
884         0       3  female   7.0                 1                 2  23.45
885         1       1    male  26.0                 0                 0  30.00
886         0       3    male  32.0                 0                 0   7.75

In [6]:
#Data Cleaning 
df.isnull()

     Survived  Pclass    Sex    Age  Siblings/Spouses  Parents/Children   Fare
0       False   False  False  False             False             False  False
1       False   False  False  False             False             False  False
2       False   False  False  False             False             False  False
3       False   False  False  False             False             False  False
4       False   False  False  False             False             False  False
..        ...     ...    ...    ...               ...               ...    ...
882     False   False  False  False             False             False  False
883     False   False  False  False             False             False  False
884     False   False  False  False             False             False  False
885     False   False  False  False             False             False  False
886     False   False  False  False             False             False  False

[887 rows x 7 columns]

In [7]:
df.notnull()

     Survived  Pclass   Sex   Age  Siblings/Spouses  Parents/Children  Fare
0        True    True  True  True              True              True  True
1        True    True  True  True              True              True  True
2        True    True  True  True              True              True  True
3        True    True  True  True              True              True  True
4        True    True  True  True              True              True  True
..        ...     ...   ...   ...               ...               ...   ...
882      True    True  True  True              True              True  True
883      True    True  True  True              True              True  True
884      True    True  True  True              True              True  True
885      True    True  True  True              True              True  True
886      True    True  True  True              True              True  True

[887 rows x 7 columns]

In [8]:
df.fillna(1)

,Survived,Pclass,Sex,Age,Siblings/Spouses,Parents/Children,Fare
0,0,3,male,22.0,1,0,7.2500
1,1,1,female,38.0,1,0,71.2833
2,1,3,female,26.0,0,0,7.9250
3,1,1,female,35.0,1,0,53.1000
4,0,3,male,35.0,0,0,8.0500
...,...,...,...,...,...,...,...
882,0,2,male,27.0,0,0,13.0000
883,1,1,female,19.0,0,0,30.0000
884,0,3,female,7.0,1,2,23.4500
885,1,1,male,26.0,0,0,30.0000
886,0,3,male,32.0,0,0,7.7500

In [22]:
x=df.drop('Survived',axis=1)
y=df['Survived']

In [23]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [24]:
#feature extraction
df['Sex']=df['Sex'].map({'male':0,'female':1})

In [25]:
df

     Survived  Pclass  Sex   Age  Siblings/Spouses  Parents/Children     Fare
0           0       3  NaN  22.0                 1                 0   7.2500
1           1       1  NaN  38.0                 1                 0  71.2833
2           1       3  NaN  26.0                 0                 0   7.9250
3           1       1  NaN  35.0                 1                 0  53.1000
4           0       3  NaN  35.0                 0                 0   8.0500
..        ...     ...  ...   ...               ...               ...      ...
882         0       2  NaN  27.0                 0                 0  13.0000
883         1       1  NaN  19.0                 0                 0  30.0000
884         0       3  NaN   7.0                 1                 2  23.4500
885         1       1  NaN  26.0                 0                 0  30.0000
886         0       3  NaN  32.0                 0                 0   7.7500

[887 rows x 7 columns]

In [30]:
#model training 
model=LogisticRegression()

In [31]:
model.fit(x_train,y_train)

LogisticRegression()

In [32]:
y_pred=model.predict(x_test)#model prediction

from sklearn.metrics import accuracy_score,classification_report

In [39]:
from sklearn.metrics import accuracy_score,classification_report
accuracy=accuracy_score(y_test,y_pred)
print(accuracy)

0.7865168539325843

In [46]:
classification=classification_report(y_test,y_pred)
print(f"",classification)

               precision    recall  f1-score   support

           0       0.82      0.86      0.84       117
           1       0.71      0.64      0.67        61

    accuracy                           0.79       178
   macro avg       0.77      0.75      0.76       178
weighted avg       0.78      0.79      0.78       178